<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img src="/assets/money.svg" alt="home" style="height:28px;"> Pot commun
        </a>
        <div class="navbar-burger" (click)="obs$.next()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu" [class.is-active]="active$ | async">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/friends/list" (click)="obs$.next()">Liste des amis</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>